.m-gitlink{
    position: fixed;
    top:-50px;
    left:-50px;
    display: none;
    transform: scale(-1, 1);
    opacity: 0;
    transition: transform .3s ease, top .3s ease-out, left .3s ease-out, opacity .3s ease;
    @include desktop{
        display: block;
    }

    &:hover{
        transform: scale(-1.2, 1.2);
    }
    .octo-background{
        fill: #84C1CF;
    }
    &.visible{
            top:0;
            left:0;
            opacity: 1;
        }
    }

.m-gitlink:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
  
  @keyframes octocat-wave {
      0% {
          transform: rotate(0deg);
      }
  
      20% {
          transform: rotate(-25deg);
      }
  
      40% {
          transform: rotate(10deg);
      }
  
      60% {
          transform: rotate(-25deg);
      }
  
      80% {
          transform: rotate(10deg);
      }
  
      100% {
          transform: rotate(0deg);
      }
  }
  
  @media (max-width: 500px) {
      .m-gitlink:hover .octo-arm {
          animation: none;
      }
  
      .m-gitlink .octo-arm {
          animation: octocat-wave 560ms ease-in-out;
      }
  }