.m-stickynav{
    pointer-events:none;
    bottom: 2rem;
    position:absolute;
    width:100%;
    z-index: 10000;
    @include tablet{
        position:fixed;
    }
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-one-third;
        padding: 1.5rem;
        pointer-events: all;
    }
    .a-link{
        display: block;
        color: $mb-black;
        line-height: 100%;
        margin-bottom:0.75rem;
        
        @media screen and (max-height:680px) {
            margin-bottom:0.25rem;
        }
    }
}
nav{
    
}