.m-stickynav{
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-one-third;
    }
    .a-link{
        display: block;
        color: $mb-black;
        line-height: 100%;
        margin-bottom:0.75rem;
        
        @media screen and (max-height:680px) {
            margin-bottom:0.25rem;
        }
    }
}
nav{
    bottom: 2rem;
    position:fixed;
    width:100%;
    z-index: 1000;
}