.m-stickynav{
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-one-third;
    }
    .a-logo{
        display: block;
        margin-bottom:2rem;
    }
    .a-link{
        display: block;
        color: $mb-black;
        line-height: 100%;
        margin-bottom:0.75rem;
    }
}
nav{
    bottom: 2rem;
    position:fixed;
    width:100%;
}