.o-contact{
    margin-top: 5rem;
    margin-bottom: 5rem;
    &__container{
        @extend .container;
    }
    &__content{
        @extend .columns;
    }
    &__logos{
        @extend .column;
        @extend .is-two-thirds;
        @extend .is-offset-one-third; 
    }
    &__logocontent{
        @extend .columns;
        flex-wrap: wrap;
    }
}