.o-footer{
    width: 100vw;
    //background: linear-gradient( $mb-yellow , $mb-green);
    background-color: $mb-blue;
    padding-top: 2rem;
    padding-bottom: 2rem;
    z-index: 1000;
    position: relative;
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-two-thirds;
        @extend .is-offset-one-third;
        @include touch{
            padding-left:1.5rem;
            padding-right: 1.5rem;
        }
        
    }
    /*&:before{
        content: " ";
        width: 100vw;
        height: 200px;
        background-color: $mb-blue;
        position: absolute;
        transform-origin: top left;
        transform: skewY(3deg);
        top: -60px;
    }*/
   
}