.o-introducing{
    margin-bottom: 2rem;
    @include tablet{
        margin-bottom: 5rem;
    }
    
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-two-thirds;
        @extend .is-offset-one-third;
        @include touch{
            padding-left:1.5rem;
            padding-right: 1.5rem;
        }
    }
    .a-heading_second{
        margin-bottom:3.5rem;
        @include tablet{
            margin-bottom: 5rem;
        }
    }
}