.o-introducing{
    margin-bottom: 10rem;
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-two-thirds;
        @extend .is-offset-one-third;
    }
    .a-heading_second{
        line-height: calculateRem(60);
        margin-bottom:5rem;
    }
}