.o-projects{
    width: 100vw;
    background: linear-gradient( $mb-yellow , $mb-green);
    transform: skewY(-6deg);
    &__container{
        @extend .container;
        transform: skewY(6deg);
    }
    &__content{
        @extend .columns;
        flex-wrap: wrap;
    }
}