.o-workflow{
    margin-bottom: 15rem;
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-two-thirds;
        @extend .is-offset-one-third;   
    }
    &__entry{
        @extend .column; 
        padding:0;
        @include tablet{
            padding: .75rem;
        }
        flex-wrap: wrap;
        margin-bottom: 2rem;
        &:nth-child(even){
            .o-workflow__entrycontent{
                .o-workflow__heading{
                    order:2;
                    text-align: left;
                    .a-heading_third{
                        position: relative;
                    }
                    
                }
                .o-workflow__paragraph{
                    order:1;
                    text-align: right;
                    .a-seperator{
                        margin-top: 1.5rem;
                        float:right;
                    }
                }
            }
        }

        &:last-child{
            margin-bottom:1rem!important;

        }
    }

    &__heading{
        @media (min-width:400px) and (max-width:768px){
            width:33%;
        }
        @extend .column;
        @extend .is-4;
        @extend .is-one-quarter-fullhd;
        text-align: right;
        
        .a-heading_third{  
            height:3rem;
            position: relative;
            
        }
        div{
            border-radius: 50%;
            img{
                
                mix-blend-mode: multiply;
            }
        }
    }
    &__paragraph{
        
        @media (min-width:400px) and (max-width:768px){
            width: 58.33333%;
        }
        @extend .column;
        @extend .is-7;
        @extend .is-three-quarters-fullhd;
        
        @include desktop{
            margin-top: 2.75rem;
        }
        .a-paragraph{ 
        }
        .a-seperator{
            float: left;
            margin-top: 1.5rem;
            width: 38%;
            display: none;
        }
    }  

    &__entrycontent{
        @media (min-width: 400px){
            display: flex;
        }
        @extend .columns;        
    }

}



