.o-workflow{
    margin-bottom: 15rem;
    &__container{
        @extend .container;
    }
    &__content{
        @extend .column;
        @extend .is-two-thirds;
        @extend .is-offset-one-third;   
    }
    &__entry{
        margin-bottom:-8rem!important;
        background: linear-gradient(90deg, $mb-grey 1px, white 1px);
        background-position: 100% 0;
        background-repeat: repeat-y;
        background-size: 50%;
        &:last-child{
            margin-bottom:1rem!important;
        }
        .a-heading_third{
            background: $mb-blue;
            border-right: 5px solid $mb-blue;
            border-left: 5px solid $mb-blue;
            display: inline-block;
        }
        .a-paragraph{
            font-size: .9rem;
        }
        
    }

    &__entry:nth-child(odd){
        @extend .columns;
        text-align: right;
        .o-workflow__entrycontent{
            padding-right:2rem;
        }
        .a-paragraph{
            
        }
    }
    &__entry:nth-child(even){
        @extend .columns;
        .o-workflow__entrycontent{
            @extend .is-offset-half;
            padding-left: 2rem;
        }
        .a-paragraph{
            
        }
    }
    &__entrycontent{
        @extend .column;
        @extend .is-half;
    }

}