.a-clientimage{
    mix-blend-mode: multiply;
    transform: scale(1.0);
    transition: all,.25s, easeout;
    filter: grayscale(1) opacity(0.7);
    &:hover{
        filter: grayscale(0) opacity(1);
    }
}