.a-heading{
    font-family: 'konnect', Arial, sans-serif;
    font-weight: 700;
    line-height: 135%;
    color: $mb-black;
}
.a-heading_first{
    @extend .a-heading;
    @include fontSize(88);
}

.a-heading_second{
    @extend .a-heading;
    @include fontSize(32);
    @include tablet{
        @include fontSize(48);
    }
}

.a-heading_projects{
    margin-right: 1rem;
    @include fontSize(32);
    @media (min-width:370px) {
        @include fontSize(48);
    }
    text-transform: uppercase;    
    margin-top: -100px;
    position: absolute;
    transform: rotate(-6deg);
    color: $mb-grey;
    @extend .a-heading_second;
    @extend .column;
    @extend .is-offset-one-third;
}

.a-heading_third{
    @extend .a-heading;
    @include fontSize(24);
}

.anim{
    color:red;
}