.a-paragraph{
        font-family: 'konnect', Arial, sans-serif;
        @include fontSize(16);
        line-height: 160%;
        font-weight: 300;
        color: $mb-black;
        margin-bottom: 1.5rem;
    }
.a-paragraph_right{
        @extend .a-paragraph;
        text-align: right;
}

em{
        
}

em.a-paragraph{
        font-style: normal;
        font-weight: 600;
}