@charset "utf-8";

// Set your brand colors
$mb-black: #0f0f0f;
$mb-grey:#4A4A4A;
$mb-red: #FF6663;
$mb-blue: #DAEFF4;
$mb-green: #D2F898;
$mb-yellow: #FFF9A5;

html {
    //font-size: 62.5%; /* Sets up the Base 10 stuff */
}

$tablet: 768px;

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/base/minireset.sass";
@import "./node_modules/bulma/sass/utilities/_all.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "./node_modules/bulma/sass/elements/container.sass";
@import "./node_modules/bulma/sass/elements/form.sass";
@import "./node_modules/bulma/sass/elements/button.sass";
@import "typo";
@import "mixins/font-size";

//atoms
@import "atoms/a-paragraph";
@import "atoms/a-heading";
@import "atoms/a-link";
@import "atoms/a-seperator";
@import "atoms/a-projectimage";
@import "atoms/a-logo";
@import "atoms/a-border";
@import "atoms/a-input";
@import "atoms/a-clientimage";
@import "atoms/a-clientlink";
@import "atoms/a-tag";

//molecules
@import "molecules/m-stickynav";
@import "molecules/m-projectentry";
@import "molecules/m-contactform";
@import "molecules/m-partners";
@import "molecules/m-client";
@import "molecules/m-taglist";

//organisms
@import "organisms/o-intro";
@import "organisms/o-introducing";
@import "organisms/o-workflow";
@import "organisms/o-projects";
@import "organisms/o-contact";
@import "organisms/o-footer";
@import "organisms/o-privacy";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.columns{
    margin-left: 0;
    margin-right: 0; 
}

