@charset "utf-8";

// Set your brand colors
$mb-black: #0f0f0f;
$mb-grey:#4A4A4A;
$mb-red: #FF6663;
$mb-blue: #DAEFF4;
$mb-green: #D2F898;
$mb-yellow: #FFF9A5;

// Update Bulma's global variables
/*$family-sans-serif: "Nunito", sans-serif;

$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;*/

// Update some of Bulma's component variables
/*$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;*/

html {
    //font-size: 62.5%; /* Sets up the Base 10 stuff */
}

// Import only what you need from Bulma
@import "./node_modules/bulma/sass/base/minireset.sass";
@import "./node_modules/bulma/sass/utilities/mixins.sass";
@import "./node_modules/bulma/sass/grid/_all.sass";
@import "typo";
@import "mixins/font-size";

//atoms
@import "atoms/a-paragraph";
@import "atoms/a-heading";
@import "atoms/a-link";

//molecules
@import "molecules/m-stickynav";
//organisms


